*{
	margin: 0px;
	padding: 0px;
}

.todo{
 	
 }

.fondo{
	text-align: center;
	background-color: #A3E4D7;
	padding: 35px;
	margin: 0px;
}

.info{
	text-align: center;
}

.info2{
	font-size: 22px;
}
 .info3{
 	text-align: center;
 	font-size: 25px;
 }

 .tipos{
 	font-size: 25px;
 	margin-left: 50px;
 }

 .info4{
 	text-align: center;
 }

 .info5{
 	font-size: 22px;
 }

 .tipos2{
 	font-size: 25px;
 	margin-left: 50px;
 }

 body{
 	background-color: #ededed;
 }